@import "_reset";

html {
	background-image: url('../images/bg-grunge.jpg');
	background-repeat: repeat;

	color: white;
	font-family: 'Lato', sans-serif;
	height: 100%;
}

body {
	box-sizing: border-box;
	padding: 1.5em;

	height: 100%;
}

.main {
	display: table;
	height: 100%;
	width: 100%;
}

.content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

p {
	margin-bottom: 2em;
}

img {
	max-width: 100%;
}

.logo {
	margin-bottom: 2em;
}

.year-picker {
	display: inline-block;
	margin-bottom: 2em;

	input {
		display: inline-block;
	}

	input[type=number] {
		border: 0;
		border-radius: 3px;
		margin-right: .6em;
		padding: .75em;
		width: 90px;
	}

	button {
		background-color: #dcc382;
		background-image: url('../images/icon-arrow-right.png');
		background-position: center center;
		background-repeat: no-repeat;

		border: 0;
		border-radius: 3px;

		cursor: pointer;

		height: 35px;
		width: 34px;

		vertical-align: middle;
	}
}

.cover {
	box-sizing: border-box;
	overflow: hidden;
	max-width: 448px;
	margin: 0 auto;

	ul {
		transition: transform .3s;
		white-space: nowrap;


		li {
			position: relative;
			display: inline-block;
			margin-bottom: 2em;
			margin-left: 24px;
			margin-right: 24px;

			text-align: center;

			width: 400px;
		}
	}

	img {
		max-height: 560px;
	}
}

.item {
	box-shadow: 0px 5px 20px 0px rgba(30,123,126,1);
	position: relative;
	display: inline-block;
}

.title {
	background-color: rgba(0, 0, 0, .7);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;

	padding: 30px;

	font-size: 24px;
	text-transform: uppercase;
	white-space: normal;
}

.yes,
.no {
	background-position: center center;
	background-repeat: no-repeat;

	border-radius: 50%;
	cursor: pointer;
	display: inline-block;

	height: 124px;
	width: 124px;
}

.yes {
	background-color: #52a572;
	background-image: url('../images/check19.png');
	border: 5px solid #6bc28c;
	margin-right: 45px;

	&:active,
	&:hover,
	&:focus {
		background-color: #55ab76;
	}
}

.no {
	background-color: #a64d53;
	background-image: url('../images/cross93.png');
	border: 5px solid #c26e74;

	&:active,
	&:hover,
	&:focus {
		background-color: #b0555b;
	}
}


.cover-view {
	display: none;
}
