@import "_reset";

html {
	background-color: #ba2933; 
	min-height: 100%;
	width: 100%;
}

.cover {
	ul {

		li {
			position: relative;
			display: none;
		}

		li.selected {
			display: block;
		}

	}
}

img {
	width: 200px;
}

.title {

}

.next {
	background: green;
	text-align: center;
	padding: 20px;
	width: 100px;
	margin: 20px;
	cursor: pointer;
}
